body
{
	overflow-x: hidden;
}


.main-panel .navbar {
	background-color: #1b1b1b !important;
	height: 100px;
  }
  
  .navbar_text h4 {
	color: #fff;
	font-weight: bold;
	font-size: 20px;
  }
  
  .navbar_text p {
	margin-top: -10px;
	color: gray;
	font-size: 15px;
  }
  
  .nav_upgrade_btn {
	color: rgb(255, 255, 255);
	background-color: #00f777;
	border: none;
  }
  
  .nav_upgrade_btn:hover {
	color: rgb(255, 255, 255);
	background-color: #00f777;
	border: none;
  }
  
  .nav_free_btn {
	color: rgb(255, 255, 255);
	font-weight: bold;
  }
  
  input[type="search"] {
	border: none;
	background: red;
	margin: 0;
	padding: 7px 8px;
	font-size: 14px;
	color: inherit;
	border: 1px solid transparent;
	border-radius: inherit;
  }
  
  input[type="search"]::placeholder {
	color: grey;
  }
  
  input.nosubmit {
	border: 1px solid #000000;
	color: #fff;
	width: 300px;
	padding: 9px 4px 9px 40px;
	background: transparent
	  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
	  no-repeat 13px center;
	background-color: #1b1b1b;
	border-radius: 10px;
  }
  
  form.nosubmit {
	border: none;
	padding: 0;
  }
  
  .logo_text
  {
	  color: rgb(255, 255, 255);
	  font-weight: bold;
	  font-size: 20px;
  }
  
  .template_name 
  {
	  color: gray;
	  font-weight: bold;
  }
  
  .card-stats:hover
  {
	  border: 1px solid #28a263;
  }
  
  /* Media Query */
  
  @media (max-width: 992px) 
  {
	  .main-panel .navbar {
		  
			height: auto;
			background-color: black !important;
		}
  }
  
  
  /* Home Page Navigation CSS */
  
  
  .navigation_menu{
	  max-width: 1170px;
	  margin:auto;
  }
  
  .navigation_menu_home
  {
	margin-bottom: 0 !important;
  }
  .sub-menu{
	  list-style: none;
	  margin:0;
	  padding:0;
  }
  
  /*header*/
  .header{
	  position: relative;
	  width: 100%;
	  left:0;
	  top:0;
	  z-index: 99;
	  padding: 5px;
	background-color: rgb(15, 15, 15);
	border-bottom: 0.5px solid rgb(255, 255, 255);
  
  }
  .header-main{
	  background-color:rgba(255, 0, 0, 0);
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  padding: 10px 0;
	  border-radius: 4px;
	height: 100px;
  }
  .header .logo{
	  padding: 0 15px;
  }
  .header .logo a{
	  font-size: 30px;
	  text-transform: capitalize;
	  color: #ffffff;
	  font-weight: 600;
  }
  .header .nav-menu{
	  padding: 0 15px;
  }
  .header .menu > .menu-item{
	  display: inline-block;
	  margin-left: 30px;
	  position: relative;
  }
  .header .menu > .menu-item > a{
	  display: block;
	  padding: 12px 0;
	  font-size: 16px;
	  color: #ffffff;
	  text-transform: capitalize;
	  font-weight: 600;
	  transition: all 0.3s ease;
  }
  .header .menu > .menu-item > a .plus{
	  display: inline-block;
	  height: 12px;
	  width: 12px;
	  position: relative;
	  margin-left:5px; 
	  pointer-events: none;
   
  }
  .header .menu > .menu-item > a .plus:before,
  .header .menu > .menu-item > a .plus:after{
	  content:'';
	  position: absolute;
	  box-sizing: border-box;
	  left: 50%;
	  top:50%;
	  background-color: #000000;
	  height: 2px;
	  width: 100%;
	  transform: translate(-50%,-50%);
	  transition: all 0.3s ease;
	color: #fff;
	background-color: rgb(255, 255, 255);
  }
  .header .menu > .menu-item:hover > a .plus:before,
  .header .menu > .menu-item:hover > a .plus:after{
	 background-color: #ffffff;
  }
  .header .menu > .menu-item > a .plus:after{
	 transform: translate(-50%,-50%) rotate(-90deg);	
  }
  .header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
  .header .menu > .menu-item:hover > a{
	  color: #ffffff;
  }
  .header .menu > .menu-item > .sub-menu{
	  box-shadow: 0 0 10px rgba(0,0,0,0.2);
	  width: 220px;
	  position: absolute;
	  left:0;
	  top:100%;
	  background-color: #ffffff;
	  padding: 10px 0;
	  border-top: 3px solid #28a263;
	  transform: translateY(10px);
	  transition: all 0.3s ease;
	  opacity:0;
	  visibility: hidden;
  }
  @media(min-width: 992px){
  .header .menu > .menu-item-has-children:hover > .sub-menu{
	  transform: translateY(0);
	  opacity: 1;
	  visibility: visible;
   }
   .header .menu > .menu-item-has-children:hover > a .plus:after{
	  transform: translate(-50%,-50%) rotate(0deg);		
   }
  }
  .header .menu > .menu-item > .sub-menu > .menu-item{
	  display: block;
  }
  .header .menu > .menu-item > .sub-menu > .menu-item > a{
	  display: block;
	  padding: 10px 20px;
	  font-size: 16px;
	  font-weight: 600;
	  color: #000000;
	  transition: all 0.3s ease;
	  text-transform: capitalize;
  }
  .header .open-nav-menu{
	  height: 34px;
	  width: 40px;
	  margin-right: 15px;
	  display: none;
	  align-items: center;
	  justify-content: center;
	  cursor: pointer;
  }
  .header .open-nav-menu span{
	  display: block;
	  height: 3px;
	  width: 24px;
	  background-color: #000000;
	  position: relative;
  }
  .header .open-nav-menu span:before,
  .header .open-nav-menu span:after{
	  content: '';
	  position: absolute;
	  left:0;
	  width: 100%;
	  height: 100%;
	  background-color: #000000;
	  box-sizing: border-box;
  }
  .header .open-nav-menu span:before{
	  top:-7px;
  }
  .header .open-nav-menu span:after{
	  top:7px;
  }
  .header .close-nav-menu{
	  height: 40px;
	  width: 40px;
	  background-color: #ffffff;
	  margin:0 0 15px 15px;
	  cursor: pointer;
	  display: none;
	  align-items: center;
	  justify-content: center;
  }
  .header .close-nav-menu img{
	  width: 16px;
  }
  .header .menu-overlay{
	  position: fixed;
	  z-index: 999;
	  background-color: rgba(0,0,0,0.5);
	  left:0;
	  top:0;
	  height: 100%;
	  width: 100%;
	  visibility: hidden;
	  opacity:0;
	  transition: all 0.3s ease;
  }
  
  /*home section*/
  .home-section{
	  width: 100%;
	  display: block;
	  min-height: 100vh;
		  
	  /* Created with https://www.css-gradient.com */
	  /* Created with https://www.css-gradient.com */
  background: hsla(125, 28%, 31%, 1);
  
  background: linear-gradient(0deg, hsla(125, 28%, 31%, 1) 0%, hsla(0, 3%, 7%, 1) 56%);
  
  background: -moz-linear-gradient(0deg, hsla(125, 28%, 37%, 1) 0%, hsla(0, 3%, 7%, 1) 56%);
  
  /* background: -webkit-linear-gradient(0deg, hsla(125, 28%, 31%, 1) 0%, hsla(0, 3%, 7%, 1) 56%); */
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#39653D", endColorstr="#131212", GradientType=1 );
	  background-position: center top;
	  background-size: cover;
  }
  
  
  /* responsive */
  
  @media(max-width: 991px){
	  .header .menu-overlay.active{
	  visibility: visible;
	  opacity: 1;
  }
	  .header .nav-menu{
		  position: fixed;
		  right: -280px;
		  visibility: hidden;
		  width: 280px;
		  height: 100%;
		  top:0;
		  overflow-y: auto;
		  background-color: #222222;
		  z-index: 1000;
		  padding: 15px 0;
		  transition: all 0.5s ease;
	  }
	  .header .nav-menu.open{
		  visibility: visible;
		  right: 0px;
	  }
	  .header .menu > .menu-item{
		  display: block;
		  margin:0;
	  }
	  .header .menu > .menu-item-has-children > a{
		  display: flex;
		  justify-content: space-between;
		  align-items: center;
	  }
	  .header .menu > .menu-item > a{
		  color: #ffffff;
		  padding: 12px 15px;
		  border-bottom: 1px solid #333333;
	  }
	  .header .menu > .menu-item:first-child > a{
		  border-top: 1px solid #333333;	
	  }
	  .header .menu > .menu-item > a .plus:before, 
	  .header .menu > .menu-item > a .plus:after{
		  background-color: #ffffff;
	  }
	  .header .menu > .menu-item-has-children.active > a .plus:after{
		  transform: translate(-50%,-50%) rotate(0deg);
	  }
	  .header .menu > .menu-item > .sub-menu{
		  width: 100%;
		  position: relative;
		  opacity: 1;
		  visibility: visible;
		  border:none;
		  background-color: transparent;
		  box-shadow: none;
		  transform: translateY(0px);
		  padding: 0px;
		  left: auto;
		  top:auto;
		  max-height: 0;
		  overflow: hidden;
	  }
	  .header .menu > .menu-item > .sub-menu > .menu-item > a{
		  padding: 12px 45px;
		  color: #ffffff;
		  border-bottom: 1px solid #333333;
	  }
	  .header .close-nav-menu,
	  .header .open-nav-menu{
		  display: flex;
	  }
  }
  
  .home_navigation_btn button
  {
	background-color: transparent;
	border: 1px solid green;
	color: #00f777;
	padding: 5px 20px;
	border-radius: 10px;
  }
  
  .home_navigation_btn p
  {
	color: rgb(255, 255, 255);
	font-weight: bold;
	margin-top: 16px !important;
  }
  
  .home_navigation_btn
  {
	width: 300px;
	display: flex;
	justify-content: space-around;
	  
  }
  
  .star_ratings
  {
	  color: rgb(255, 219, 12);
  }
  
  .owl-theme .item img
  {
  
		  border-radius: 15px;
  }

  /* Pricing Table */
/* ======================== */
/*   Syed Sahar Ali Raza   	*/
/* ========================	*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700italic,700,900italic,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
body{background-color:#eee;}

#generic_price_table{
	background-color: #f0eded;
}

/*PRICE COLOR CODE START*/
#generic_price_table .generic_content{
	background-color: #fff;
}

#generic_price_table .generic_content .generic_head_price{
	background-color: #f6f6f6;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
	border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
	color: #525252;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign{
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
    color: #414141;
}

#generic_price_table .generic_content .generic_feature_list ul li{	
	color: #a7a7a7;
}

#generic_price_table .generic_content .generic_feature_list ul li span{
	color: #414141;
}
#generic_price_table .generic_content .generic_feature_list ul li:hover{
	background-color: #E4E4E4;
	border-left: 5px solid #2ECC71;
}

#generic_price_table .generic_content .generic_price_btn a{
	border: 1px solid #2ECC71; 
    color: #2ECC71;
} 

#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg{
	border-color: #2ECC71 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #2ECC71;
	color: #fff;
}

#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head span,
#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head span{
	color: #fff;
}

#generic_price_table .generic_content:hover .generic_price_btn a,
#generic_price_table .generic_content.active .generic_price_btn a{
	background-color: #2ECC71;
	color: #fff;
} 
#generic_price_table{
	margin: 50px 0 50px 0;
    font-family: 'Raleway', sans-serif;
}
.row .table{
    padding: 28px 0;
}

/*PRICE BODY CODE START*/

#generic_price_table .generic_content{
	overflow: hidden;
	position: relative;
	text-align: center;
}

#generic_price_table .generic_content .generic_head_price {
	margin: 0 0 20px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content{
	margin: 0 0 50px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
    border-style: solid;
    border-width: 90px 1411px 23px 399px;
	position: absolute;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head{
	padding-top: 40px;
	position: relative;
	z-index: 1;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
    font-family: "Raleway",sans-serif;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag{
	padding: 0 0 20px;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price{
	display: block;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign{
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 28px;
    font-weight: 400;
    vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
    font-family: "Lato",sans-serif;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 60px;
    padding: 0;
    vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 24px;
    font-weight: 400;
    vertical-align: bottom;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
    font-family: "Lato",sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    vertical-align: bottom;
}

#generic_price_table .generic_content .generic_feature_list ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

#generic_price_table .generic_content .generic_feature_list ul li{
	font-family: "Lato",sans-serif;
	font-size: 18px;
	padding: 15px 0;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table .generic_content .generic_feature_list ul li:hover{
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;

}
#generic_price_table .generic_content .generic_feature_list ul li .fa{
	padding: 0 10px;
}
#generic_price_table .generic_content .generic_price_btn{
	margin: 20px 0 32px;
}

#generic_price_table .generic_content .generic_price_btn a{
    border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	-webkit-border-radius: 50px;
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 18px;
    outline: medium none;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

#generic_price_table .generic_content,
#generic_price_table .generic_content:hover,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content .price,
#generic_price_table .generic_content:hover .price,
#generic_price_table .generic_content .generic_price_btn a,
#generic_price_table .generic_content:hover .generic_price_btn a{
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
} 
@media (max-width: 320px) {	
}

@media (max-width: 767px) {
	#generic_price_table .generic_content{
		margin-bottom:75px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#generic_price_table .col-md-3{
		float:left;
		width:50%;
	}
	
	#generic_price_table .col-md-4{
		float:left;
		width:50%;
	}
	
	#generic_price_table .generic_content{
		margin-bottom:75px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
#generic_price_table_home{
	 font-family: 'Raleway', sans-serif;
}

.text-center h1,
.text-center h1 a{
	color: #7885CB;
	font-size: 30px;
	font-weight: 300;
	text-decoration: none;
}
.demo-pic{
	margin: 0 auto;
}
.demo-pic:hover{
	opacity: 0.7;
}

#generic_price_table_home ul{
	margin: 0 auto;
	padding: 0;
	list-style: none;
	display: table;
}
#generic_price_table_home li{
	float: left;
}
#generic_price_table_home li + li{
	margin-left: 10px;
	padding-bottom: 10px;
}
#generic_price_table_home li a{
	display: block;
	width: 50px;
	height: 50px;
	font-size: 0px;
}
#generic_price_table_home .blue{
	background: #3498DB;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .emerald{
	background: #2ECC71;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .grey{
	background: #7F8C8D;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .midnight{
	background: #34495E;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .orange{
	background: #E67E22;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .purple{
	background: #9B59B6;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .red{
	background: #E74C3C;
	transition:all 0.3s ease-in-out 0s;
}
#generic_price_table_home .turquoise{
	background: #1ABC9C;
	transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .blue:hover,
#generic_price_table_home .emerald:hover,
#generic_price_table_home .grey:hover,
#generic_price_table_home .midnight:hover,
#generic_price_table_home .orange:hover,
#generic_price_table_home .purple:hover,
#generic_price_table_home .red:hover,
#generic_price_table_home .turquoise:hover{
	border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .divider{
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	padding: 20px;
}
#generic_price_table_home .divider span{
	width: 100%;
	display: table;
	height: 2px;
	background: #ddd;
	margin: 50px auto;
	line-height: 2px;
}
#generic_price_table_home .itemname{
	text-align: center;
	font-size: 50px ;
	padding: 50px 0 20px ;
	border-bottom: 1px solid #ddd;
	margin-bottom: 40px;
	text-decoration: none;
    font-weight: 300;
}
#generic_price_table_home .itemnametext{
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    text-transform: uppercase;
    display: inline-block;
}
#generic_price_table_home .footer{
	padding:40px 0;
}

.price-heading{
    text-align: center;
}
.price-heading h1{
	color: #666;
	margin: 0;
	padding: 0 0 50px 0;
}
.demo-button {
    background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium ;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}
.bottom_btn{
	background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 28px;
    margin: 60px auto 20px;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
}
.demo-button:hover{
	background-color: #666;
	color: #FFF;
	text-decoration:none;
	
}
.bottom_btn:hover{
	background-color: #666;
	color: #FFF;
	text-decoration:none;
}

.generic_content
{
	border-radius: 15px;
	background-color: #262626 !important;
}

.owl-nav .owl-prev
{
	background-color: aliceblue !important;
    width: 50px;
    height: 50px;
    border-radius: 30px !important;
}

.owl-nav .owl-prev:hover
{
	background-color: #2ddb81 !important;
}

.owl-nav .owl-next:hover
{
	background-color: #2ddb81 !important;
}

.owl-nav .owl-next
{
	background-color: aliceblue !important;
    width: 50px;
    height: 50px;
    border-radius: 30px !important;
}

.owl-nav
{	
	display: flex;
	padding: 10px 0;
}

/* Sign in Page Form */
.form-control
{
	background-color: #212221 !important;
	border: 1px solid gray;
	margin-bottom: 15px;
	color: rgb(255, 255, 255) !important;
	margin-top: 5px;
	height: 50px;

}

.form-control::placeholder {
	color: gray;
  }

  .signin_form {
	box-sizing: border-box;
	border: 1px solid #535353;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
  }

 .signin_form:focus {
	border: 2px solid #2ddb81;
  }

  /* Saved resume Page */

  .saved_resume_table
  {
	
  }